* {
  box-sizing: border-box;
}


.ion-profile{
  margin-bottom: -1em;
}

#main {
  width:100%;
  display: flex;
}

#main div {
  flex: 1;
}
.no-scroll {
  --overflow: hidden;
}


.avatar{
  height: 50%;width:100%;
  img{
    max-width: 80%;
    margin: 10%;
  }
}

.rating-content{
  margin-top: 10%;
  width:100%;
  img{
    width: 65%;
  }
  ion-list{
    background-color: #ededed;
  }
}

.column {
  background-color: #ededed;
  float: left;
  width: 50%;
  padding: 2px;
  text-align: center;
  p{
    color: #00a195;
    font-size: 12px;
    line-height: 0pt;
    font-weight: bold;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.zig-zag-top{
  background:
    linear-gradient(-45deg, #ededed 16px, #ededed 16px, #ededed 16px,  transparent 0),
    linear-gradient(45deg, #ededed 16px, transparent 0);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 24px 32px;
  content: " ";
  display: block;

  height: 32px;
  width: 100%;
  bottom: 64px;
  left:0;
}

.list-container{
  --ion-background-color: #ededed !important;
}
.daily-activity-content{
  height: 219px;
  img{
    width: 10%; margin-right: 10px;
  }
  ion-item{
    font-size: 12px;
    .percentage{
      display: contents;
      float: right;
      color: #00a195;
      font-weight: bold;
    }
  }
}

