<ion-header>
  <ion-toolbar>
    <div id="main">
      <div>
        <ion-img [src]="'assets/active-schools.svg'" class="ion-left-button" style="margin: 0px 10px;width:20%"></ion-img>
      </div>
      <div>
        <a routerLink ="/settings"> <ion-img [src]="'assets/settings.svg'" class="ion-left-button" style="margin: 0px 10px; width:20%; float: right"></ion-img></a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar">
    <img src="assets/avatar.svg">
  </div>

  <div class="rating-content">
    <div class="zig-zag-top"></div>
  </div>
</ion-content>
