<div class="title-container">
  <div class="title-container-diamond">
    <div>
      <ion-icon name="fitness-outline"></ion-icon>
    </div>
  </div>
  <h1>Real Time Stats</h1>
</div>

<div class="rows-container">

  <div class="square-left">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="pulse-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <!-- <h2>{{realTimeValue.heart_rate}}</h2> -->
        <h2>73</h2>
        <h3>Heart Rate</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: '50%' }">
             <!-- [ngStyle]="{ width: calculateProgressBar(i) + '%', background: 'linear-gradient(0deg, hsl(276deg, 100%, ' +  calculateGradientColorDarkness(100, 60, achievement.id, achievement.target) + '%) 0%, hsl(294deg, 61%, ' +  calculateGradientColorDarkness(70, 30, achievement.id, achievement.target) + '%) 100%)' }"> -->
        </div>
      </div>

    </div>

  </div>

  <div class="square-right">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="heart-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <!-- <h2>{{realTimeValue.blood_pressure_systolyc}} / {{realTimeValue.blood_pressure_diastolyc}}</h2> -->
        <h2>11 / 82</h2>
        <h3>Blood Pressure (mm Hg)</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: '50%' }">
             <!-- [ngStyle]="{ width: calculateProgressBar(i) + '%', background: 'linear-gradient(0deg, hsl(276deg, 100%, ' +  calculateGradientColorDarkness(100, 60, achievement.id, achievement.target) + '%) 0%, hsl(294deg, 61%, ' +  calculateGradientColorDarkness(70, 30, achievement.id, achievement.target) + '%) 100%)' }"> -->
        </div>
      </div>

    </div>

  </div>

  <div class="square-left">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="footsteps-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <!-- <h2>{{realTimeValue.steps}}</h2> -->
        <h2>5500</h2>
        <h3>Steps</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: '50%' }">
             <!-- [ngStyle]="{ width: calculateProgressBar(i) + '%', background: 'linear-gradient(0deg, hsl(276deg, 100%, ' +  calculateGradientColorDarkness(100, 60, achievement.id, achievement.target) + '%) 0%, hsl(294deg, 61%, ' +  calculateGradientColorDarkness(70, 30, achievement.id, achievement.target) + '%) 100%)' }"> -->
        </div>
      </div>

    </div>

  </div>

  <div class="square-right">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="golf-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <!-- <h2>{{realTimeValue.distance / 1000}}</h2> -->
        <h2>4.34</h2>
        <h3>Distance (Km)</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: '50%' }">
             <!-- [ngStyle]="{ width: calculateProgressBar(i) + '%', background: 'linear-gradient(0deg, hsl(276deg, 100%, ' +  calculateGradientColorDarkness(100, 60, achievement.id, achievement.target) + '%) 0%, hsl(294deg, 61%, ' +  calculateGradientColorDarkness(70, 30, achievement.id, achievement.target) + '%) 100%)' }"> -->
        </div>
      </div>

    </div>

  </div>

</div>