<div class="title-container">
  <div class="title-container-diamond">
    <div>
      <ion-icon name="fitness-outline"></ion-icon>
    </div>
  </div>
  <h1>{{language.STATS.realTime}} ({{language.STATS.lastHour}})</h1>
</div>

<div class="rows-container">

  <div class="square-center">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="footsteps-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{dailyValue}}</h2>
        <h3>{{language.STATS.steps}}</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkSteps(dailyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

  <div class="square-center">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="golf-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{checkDistance(dailyValue)}}</h2>
        <h3>{{language.STATS.distance}} (Km)</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkDistancePercent(dailyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

</div>