.main-nav-container {
  box-shadow: none !important;
  border-bottom: 1px solid #00a195;
}

.main-nav {
  width: 100%;
  height: 40px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.main-nav div {
  height: 25px;
  aspect-ratio: 1;
}

.main-nav ion-icon {
  height: 25px;
  aspect-ratio: 1;
  font-size: 24px;
  display: block;
}

.no-scroll {
  --overflow: hidden;
}

.profile-place-data-container {
  height: 30px;
}

.profile-place-data-container span {
  font-size: 9px;
  font-weight: 600;
  color: #00a195;
  line-height: 30px;
}

.profile-place-data-container {
  padding: 0 10px;
}

.profile-place-data-container ion-icon {
  color: #ff6f00;
  line-height: 30px;
  font-size: 12px;
  top: 2px;
  margin-right: 5px;
  position: relative;
}

.profile-user-container {
  height: calc(50% - 30px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;

  .profile-user-level {
    height: 150px;
    aspect-ratio: 1;
    border-radius: 30px;
    position: relative;

    .profile-user-info-button-container {
      position: absolute;
      height: 20px;
      width: 20px;
      right: 0;

      ion-icon {
        width: 100%;
        height: 100%;
        color: #ff6f00;
      }

    }

    .profile-user-level-container {
      height: 100%;
      aspect-ratio: 1;
      background: #dedede;
      border-radius: 50%;
      position: relative;

      img {
        position: relative;
        z-index: 1;
      }

      .profile-user-level-bar {
        height: 100%;
        aspect-ratio: 1;
        background: #ff6f00;
        border-radius: 50%;
        clip-path: polygon(0 100%, 50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%);
        position: absolute;
        top: 0;
        left: 0;
      }

      .profile-user-image-container {
        height: calc(100% - 24px);
        aspect-ratio: 1;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 12px;
        left: 12px;

        .profile-user-image-container-inner {
          height: 100%;
          aspect-ratio: 1;
          border-radius: 0 0 50% 50%;
          text-align: center;
          overflow: hidden;

          img {
            width: 80%;
          }

        }

      }

    }

    .profile-user-level-number-container {
      width: 50px;
      height: 50px;
      position: absolute;
      left: calc(50% - 25px);
      bottom: -20px;
      z-index: 2;

      .profile-user-level-number-container-inner {
        width: 100%;
        height: 100%;
        background: green;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profile-user-level-number-container-bg-left {
          width: 50%;
          height: 100%;
          background: rgb(0, 161, 149);
          background: linear-gradient(180deg, rgba(0, 161, 149, 1) 0%, rgba(0, 81, 75, 1) 100%);
        }

        .profile-user-level-number-container-bg-right {
          width: 50%;
          height: 100%;
          background: rgb(49, 178, 168);
          background: linear-gradient(180deg, rgba(49, 178, 168, 1) 0%, rgba(0, 121, 112, 1) 100%);
        }
      }

      .profile-user-level-number-text-container {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        line-height: 50px;
        text-align: center;
        top: 0;
        font-size: 14px;
        font-weight: 600;
        color: #fff;

        span {
          font-size: 10px;
          font-weight: 400;
        }
      }
    }

  }

}

.profile-stats-container {

  height: 50%;
  width: 100%;
  background-color: #ededed;
  position: relative;
  padding: 0 20px;

  .rows-container {
    width: 100%;
    height: 100%;
    overflow: auto;

    .row {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #00a195;

      .row-left-container {
        height: 40px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .achievement-diamond-container {
          width: 30px;
          height: 30px;
          -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          margin: 5px;

          img {
            height: 12px;
            width: 12px;
            object-fit: contain;
            object-position: center;
            z-index: 1;
          }

          .achievement-diamond-left {
            width: 15px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgb(187, 85, 255);
            background: linear-gradient(180deg, rgba(187, 85, 255, 1) 0%, rgba(129, 34, 140, 1) 100%);
          }

          .achievement-diamond-right {
            width: 15px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background: rgb(213, 140, 255);
            background: linear-gradient(180deg, rgba(213, 140, 255, 1) 0%, rgba(129, 67, 200, 1) 100%);
          }

          .daily-diamond-left {
            background: rgb(0, 161, 149);
            background: linear-gradient(0deg, rgba(0, 161, 149, 1) 0%, rgba(0, 81, 75, 1) 100%);
          }

          .daily-diamond-right {
            background: rgb(49, 178, 168);
            background: linear-gradient(0deg, rgba(49, 178, 168, 1) 0%, rgba(0, 121, 112, 1) 100%);
          }
        }

      }

      .row-right-container {
        width: calc(100% - 40px);
        height: 40px;

        .row-right-top-container {
          width: 100%;
          height: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .row-right-top-left-text {
            width: 75%;
            font-size: 10px;
            text-align: left;
            line-height: 20px;
            color: #00a195;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .row-right-top-right-text {
            font-size: 10px;
            font-weight: 800;
            text-align: right;
            line-height: 20px;
            color: #00a195
          }

          .achievement-color {
            color: #d58cff;
          }

        }

        .row-right-bottom-container {
          width: 100%;
          height: 20px;
          display: flex;
          align-items: center;

          .row-progress-bar-bg {
            width: 100%;
            height: 5px;
            background: #dedede;
            position: relative;

            .row-progress-bar {
              // width: 30%;
              height: 5px;
              background: #00a195;
              position: absolute;
              top: 0;
              left: 0;
              transition: 0.5s ease all;
            }

            .achievement-bg {
              background: #d58cff;
            }

            .row-progress-bar-100 {
              width: 100% !important;
            }

          }

        }

      }

    }

  }

}

.zig-zag-top {
  position: absolute;
  background:
    linear-gradient(-45deg, #ededed 16px, #ededed 16px, #ededed 16px, transparent 0),
    linear-gradient(45deg, #ededed 16px, transparent 0);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 24px 32px;
  content: " ";
  display: block;

  height: 32px;
  width: 100%;
  top: -32px;
  left: 0;
}

.challenge-expand-button-container {
  position: absolute;
  width: 164px;
  height: 24px;
  left: 0;
  top: -35px;
  clip-path: polygon(0 0, calc(100% - 24px) 0, 100% 100%, 0 100%, 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  ion-icon {
    padding-left: 16px;
    color: #fff;
  }

  span {
    color: #fff;
    font-size: 12px;
    opacity: 0.5;
  }
}

.daily-primary-button {
  background: #31b2a8;
}

.daily-primary-button-active {
  background: #007970;

  span {
    opacity: 1;
  }
}

.challenge-second-button {
  left: 138px;
  background: #bb55ff;
  z-index: 2;
}

.challenge-second-button-active {
  background: #81228c;

  span {
    opacity: 1;
  }
}

.list-container {
  --ion-background-color: #ededed !important;
}

.daily-activity-content {
  height: 219px;

  img {
    width: 10%;
    margin-right: 10px;
  }

  ion-item {
    font-size: 12px;

    .percentage {
      display: contents;
      float: right;
      color: #00a195;
      font-weight: bold;
    }
  }
}

.reward-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: 5s ease forwards;
  animation-name: reward-bg-appear;

  .reward-container-inner {
    height: 200px;
    width: auto;
    position: relative;

    .reward-diamond {
      height: 100%;
      width: auto;
      object-fit: cover;
      object-position: center;
      position: relative;
      animation: 5s ease forwards;
      animation-name: reward-diamond-appear;
    }

    .reward-tag-container {
      width: 90%;
      height: auto;
      margin: auto 5%;
      position: relative;
      top: -50px;
      text-align: center;
      animation: 5s ease forwards;
      animation-name: reward-tag-appear;

      span {
        font-size: 28px;
        font-weight: 800;
        color: #00a195;
        position: relative;
        top: -41px;
      }
    }
  }
}

@keyframes reward-bg-appear {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes reward-diamond-appear {
  0% {
    top: 40px;
    opacity: 0;
  }

  10% {
    top: 40px;
    opacity: 0;
  }

  20% {
    top: 0;
    opacity: 1;
  }

  80% {
    top: 0;
    opacity: 1;
  }

  90% {
    top: 40px;
    opacity: 0;
  }

  100% {
    top: 40px;
    opacity: 0;
  }
}

@keyframes reward-tag-appear {
  0% {
    top: 0;
    opacity: 0;
  }

  20% {
    top: 0;
    opacity: 0;
  }

  30% {
    top: -50px;
    opacity: 1;
  }

  70% {
    top: -50px;
    opacity: 1;
  }

  80% {
    top: 0;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}