<ion-header class="main-nav-parent">
  <ion-toolbar class="main-nav-container">
    <div class="main-nav">

      <div>
        <ion-img [src]="'assets/active-schools-icon.svg'" class="ion-left-button">
        </ion-img>
      </div>

      <div>
        <a routerLink="/settings">
          <!-- <ion-img [src]="'assets/settings.svg'" class="ion-left-button"></ion-img> -->
          <ion-icon name="settings" class="ion-left-button"></ion-icon>
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="profile-place-data-container">
    <ion-icon name="location"></ion-icon>
    <span>C.P. Diego Marín | 6ºB | Ceutí</span>
  </div>

  <div class="profile-user-container">
    <div class="profile-user-level" routerLink="/evolution">

      <div class="profile-user-info-button-container">
        <ion-icon name="information-circle"></ion-icon>
      </div>

      <div class="profile-user-level-container">

        <img src="assets/icon/missions_icons/profile-frame.svg">

        <div class="profile-user-level-bar"></div>

        <div class="profile-user-image-container">
          <div class="profile-user-image-container-inner">
            <img src="assets/icon/missions_icons/profile-image.svg">
          </div>
        </div>

      </div>

      <div class="profile-user-level-number-container">
        <div class="profile-user-level-number-container-inner">
          <div class="profile-user-level-number-container-bg-left"></div>
          <div class="profile-user-level-number-container-bg-right"></div>
        </div>
        <span class="profile-user-level-number-text-container"><span>L.</span>99</span>
      </div>

    </div>
  </div>

  <div class="profile-stats-container">

    <div class="zig-zag-top"></div>

    <div class="challenge-expand-button-container" [ngClass]="{ 'challenge-button-active' : showDailyChallenges }"
      (click)="showDailyChallenges = true; showAchievements = false">
      <span>Daily Challenges</span>
    </div>

    <div class="challenge-expand-button-container challenge-second-button"
      [ngClass]="{ 'challenge-button-active' : showAchievements }"
      (click)="showAchievements = true; showDailyChallenges = false">
      <span>Achievements</span>
    </div>

    <div class="rows-container" *ngIf="showDailyChallenges">

      <div class="row" (click)="getReward()">
        <div class="row-left-container">
          <img src="assets/icon/missions_icons/step_missions.svg">
        </div>
        <div class="row-right-container">
          <div class="row-right-top-container">
            <span class="row-right-top-left-text">Complete 10.000 steps</span>
            <span class="row-right-top-right-text">1000 xp</span>
          </div>
          <div class="row-right-bottom-container">
            <div class="row-progress-bar-bg">
              <div class="row-progress-bar" style="width: 50%" [ngClass]="{ 'row-progress-bar-100' : successReward }">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" (click)="getReward()">
        <div class="row-left-container">
          <img src="assets/icon/missions_icons/heart_missions.svg">
        </div>
        <div class="row-right-container">
          <div class="row-right-top-container">
            <span class="row-right-top-left-text">Complete two endurance challenges</span>
            <span class="row-right-top-right-text">1000 xp</span>
          </div>
          <div class="row-right-bottom-container">
            <div class="row-progress-bar-bg">
              <div class="row-progress-bar" style="width: 50%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" (click)="getReward()">
        <div class="row-left-container">
          <img src="assets/icon/missions_icons/agility_missions.svg">
        </div>
        <div class="row-right-container">
          <div class="row-right-top-container">
            <span class="row-right-top-left-text">Overcome three agility challenges</span>
            <span class="row-right-top-right-text">1000 xp</span>
          </div>
          <div class="row-right-bottom-container">
            <div class="row-progress-bar-bg">
              <div class="row-progress-bar" style="width: 66%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" (click)="getReward()">
        <div class="row-left-container">
          <img src="assets/icon/missions_icons/agility_missions.svg">
        </div>
        <div class="row-right-container">
          <div class="row-right-top-container">
            <span class="row-right-top-left-text">Overcome ten agility challenges</span>
            <span class="row-right-top-right-text">5000 xp</span>
          </div>
          <div class="row-right-bottom-container">
            <div class="row-progress-bar-bg">
              <div class="row-progress-bar" style="width: 20%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" (click)="getReward()">
        <div class="row-left-container">
          <img src="assets/icon/missions_icons/agility_missions.svg">
        </div>
        <div class="row-right-container">
          <div class="row-right-top-container">
            <span class="row-right-top-left-text">Overcome twenty agility challenges</span>
            <span class="row-right-top-right-text">12000 xp</span>
          </div>
          <div class="row-right-bottom-container">
            <div class="row-progress-bar-bg">
              <div class="row-progress-bar" style="width: 10%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" (click)="getReward()">
        <div class="row-left-container">
          <img src="assets/icon/missions_icons/height_missions.svg">
        </div>
        <div class="row-right-container">
          <div class="row-right-top-container">
            <span class="row-right-top-left-text">Overcome three strength challenges</span>
            <span class="row-right-top-right-text">1000 xp</span>
          </div>
          <div class="row-right-bottom-container">
            <div class="row-progress-bar-bg">
              <div class="row-progress-bar" style="width: 30%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" (click)="getReward()">
        <div class="row-left-container">
          <img src="assets/icon/missions_icons/height_missions.svg">
        </div>
        <div class="row-right-container">
          <div class="row-right-top-container">
            <span class="row-right-top-left-text">Overcome ten strength challenges</span>
            <span class="row-right-top-right-text">5000 xp</span>
          </div>
          <div class="row-right-bottom-container">
            <div class="row-progress-bar-bg">
              <div class="row-progress-bar" style="width: 10%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" (click)="getReward()">
        <div class="row-left-container">
          <img src="assets/icon/missions_icons/height_missions.svg">
        </div>
        <div class="row-right-container">
          <div class="row-right-top-container">
            <span class="row-right-top-left-text">Overcome twenty strength challenges</span>
            <span class="row-right-top-right-text">12000 xp</span>
          </div>
          <div class="row-right-bottom-container">
            <div class="row-progress-bar-bg">
              <div class="row-progress-bar" style="width: 7%">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="rows-container" *ngIf="showAchievements">

      <div class="row" (click)="getReward()">
        <div class="row-left-container">
          <img src="assets/icon/missions_icons/step_missions.svg">
        </div>
        <div class="row-right-container">
          <div class="row-right-top-container">
            <span class="row-right-top-left-text">Complete 10.000 steps</span>
            <span class="row-right-top-right-text">1000 xp</span>
          </div>
          <div class="row-right-bottom-container">
            <div class="row-progress-bar-bg">
              <div class="row-progress-bar" style="width: 50%" [ngClass]="{ 'row-progress-bar-100' : successReward }">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</ion-content>

<div class="reward-container" *ngIf="openRewardWindow">

  <div class="reward-container-inner">
    <img class="reward-diamond" src="assets/icon/challenge-reward.svg">

    <div class="reward-tag-container">
      <img class="reward-tag" src="assets/icon/challenge-tag.svg">
      <span>1000</span>
    </div>

  </div>

</div>