<ion-header class="main-nav-parent">
  <ion-toolbar class="main-nav-container">
    <div class="main-nav">

      <div>
        <ion-img [src]="'assets/active-schools-icon.svg'" class="ion-left-button">
        </ion-img>
      </div>

      <div>
        <a routerLink="/settings">
          <!-- <ion-img [src]="'assets/settings.svg'" class="ion-left-button"></ion-img> -->
          <ion-icon name="settings-outline" class="ion-left-button"></ion-icon>
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="profile-place-data-container">
    <ion-icon name="location"></ion-icon>
    <!-- <span>{{userInfo.personalData.schoolName}} | {{userInfo.personalData.course}} | {{userInfo.personal_data.city}}</span> -->
    <span>{{userInfo.personal_data.city}}</span>
  </div>

  <div class="profile-user-container">
    <div class="profile-user-level" (click)="goToEvolution()">

      <div class="profile-user-info-button-container">
        <span>3</span>
        <!-- <ion-icon name="information-circle"></ion-icon> -->
      </div>

      <div class="profile-user-level-container">

        <!-- <img src="assets/icon/missions_icons/profile-frame.svg"> -->

        <div class="profile-user-level-bar"></div>

        <div class="profile-user-image-container">
          <div class="profile-user-image-container-inner">
            <!-- <img src="assets/icon/missions_icons/profile-image.svg"> -->
            <img src="{{selectedHead}}">
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="profile-main-level-container" (click)="goToEvolution()">

    <div class="profile-user-level-number-container">
      <div class="profile-user-level-number-container-inner">
        <div class="profile-user-level-number-container-bg-left"></div>
        <div class="profile-user-level-number-container-bg-right"></div>
      </div>
      <span class="profile-user-level-number-text-container"><span>L.</span>{{userInfo.avatar.level}}</span>
    </div>

    <div class="profile-user-level-customize-arrow"></div>

    <div class="profile-user-level-customize-button">
      <span>{{language.AVATAR.customizeAvatar}}</span>
    </div>

  </div>

  <div class="profile-stats-container">

    <div class="team-main-tabs-container">

      <div class="team-main-tab"
           [ngClass]="{ 'team-main-tab-active' : selectedTab === 'daily' }"
           (click)="showTabContain('daily')"
           routerLink="/tabs/achievements/daily-challenges-list">
        <ion-icon name="star-outline"></ion-icon>
      </div>
  
      <div class="team-main-tab"
           [ngClass]="{ 'team-main-tab-active' : selectedTab === 'achievement' }"
           (click)="showTabContain('achievement')"
           routerLink="/tabs/achievements/achievements-list">
        <ion-icon name="ribbon-outline"></ion-icon>
      </div>
  
    </div>

    <router-outlet class="outlet" name="achievements"></router-outlet>

  </div>

</ion-content>