<ion-content>
  <ion-grid>

    <ion-row class="ion-start-content">
      <ion-img [src]="'assets/active-schools.svg'" class="ion-logo"></ion-img>
    </ion-row>

    <form class="form-login">
      <ion-item class="ion-item-form" lines="full">
        <ion-label position="floating" class="user-name">User</ion-label>
        <ion-input type="text" [(ngModel)]="userData.username" name="username" required></ion-input>
      </ion-item>

      <ion-item class="ion-item-form" lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="userData.password" name="password" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col class="enter-container">
          <ion-button type="submit" (click)="login()" expand="block" class="ion-button-enter">Enter
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="secondary-text-container login-footer">
          <a routerLink="/forgot-password" class="small-text">Forgot your password?</a>
          <br>
          <span>·</span>
          <br>
          <!-- <a routerLink="/registration" class="small-text">Are you a new user</a> -->
          <a routerLink="/registration-personal-data" class="small-text">Are you a new user</a>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>