<ion-content>

  <div class="menu-line-container">

    <div class="menu-line-bg">
      <div class="menu-line" [ngClass]="{ 'menu-line-33' : activeStepIndex === 2,
                        'menu-line-66' : activeStepIndex === 3,
                        'menu-line-100' : activeStepIndex === 4 }">
      </div>
    </div>

    <div class="menu-diamond-group-container">

      <div class="menu-diamond-container">
        <div class="menu-button menu-button-active"></div>
      </div>

      <div class="menu-diamond-container">
        <div class="menu-button"
          [ngClass]="{ 'menu-button-active' : activeStepIndex === 2 || activeStepIndex === 3 || activeStepIndex === 4 }">
        </div>
      </div>

      <div class="menu-diamond-container">
        <div class="menu-button" [ngClass]="{ 'menu-button-active' : activeStepIndex === 3 || activeStepIndex === 4 }">
        </div>
      </div>

      <div class="menu-diamond-container">
        <div class="menu-button" [ngClass]="{ 'menu-button-active' : activeStepIndex === 4 }"></div>
      </div>

    </div>

  </div>

  <ion-grid>

    <ion-row class="ion-start-content">
      <ion-img [src]="'assets/active-schools.svg'" class="ion-logo"></ion-img>
    </ion-row>

    <ion-row class="ion-start-content">

      <ion-col class="ion-principal-text">
        <p>Register</p>
      </ion-col>

    </ion-row>

    <ion-row class="ion-start-content" *ngIf="activeStepIndex == 1">

      <ion-col class="ion-principal-text">
        <p>Personal Data</p>
      </ion-col>

    </ion-row>

    <ion-row class="ion-start-content" *ngIf="activeStepIndex == 2">

      <ion-col class="ion-principal-text">
        <p>Teaching Establishment</p>
      </ion-col>

    </ion-row>

    <ion-row class="ion-start-content" *ngIf="activeStepIndex == 3">

      <ion-col class="ion-principal-text">
        <p>Mobility Survey</p>
      </ion-col>

    </ion-row>

    <ion-row class="ion-start-content" *ngIf="activeStepIndex == 4">

      <ion-col class="ion-principal-text">
        <p>Medical Centre</p>
      </ion-col>

    </ion-row>

    <form class="form-registration">
      <div *ngIf="activeStepIndex == 1">
        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.name" name="name" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Surname</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.surname" name="surname" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Sex</ion-label>
          <ion-select [(ngModel)]="registerData.sex" name="sex">
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Weight</ion-label>
          <ion-input type="number" [(ngModel)]="registerData.weight" name="weight" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Height</ion-label>
          <ion-input type="number" [(ngModel)]="registerData.height" name="height" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Address</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.address" name="address" required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col class="next-container">
            <ion-button (click)="activeStepIndex = 2" type="submit" expand="block" class="next-button">Next</ion-button>
            <ion-button routerLink="/login" type="submit" expand="block" class="next-button">Exit
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="activeStepIndex == 2">
        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Country</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.country" name="country" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Province</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.province" name="province" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">City</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.city" name="city" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Establishment</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.schoolName" name="schoolName" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Course</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.course" name="course" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Teacher</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.teacher" name="teacher" required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col class="next-container">
            <ion-button (click)="activeStepIndex = 3" type="submit" expand="block" class="next-button">Next</ion-button>
            <ion-button (click)="activeStepIndex = 2" type="submit" expand="block" class="next-button">Back</ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="activeStepIndex == 3">

        <ion-col class="ion-question-text">
          <p>Do you walk to school?</p>
        </ion-col>

        <ion-row class="ask-question-container">
          <ion-col class="yes-container">
            <!-- TODO Añadir resupuesta a registerData -->
            <ion-button (click)="activeStepIndex = 4" type="submit" expand="block" class="next-button">Yes</ion-button>
          </ion-col>

          <ion-col class="yes-container">
            <ion-button (click)="activeStepIndex = 4" type="submit" expand="block" class="next-button">No</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="next-container">
            <ion-button (click)="activeStepIndex = 4" type="submit" expand="block" class="next-button">Next</ion-button>
            <ion-button (click)="activeStepIndex = 3" type="submit" expand="block" class="next-button">Back</ion-button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="activeStepIndex == 4">
        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Centre</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.medicalCenter" name="medicalCenter" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="ion-item-form">
          <ion-label position="floating">Doctor</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.doctor" name="doctor" required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col class="next-container">
            <!-- <ion-button [routerLink]="['/searching-smart-band']" type="submit" expand="block" class="next-button">Finish
            </ion-button> -->

            <ion-button (click)="registerUser()" type="submit" expand="block" class="next-button">Finish
            </ion-button>

            <ion-button (click)="activeStepIndex = 4" type="submit" expand="block" class="next-button">Back</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </form>

  </ion-grid>
</ion-content>