<ion-header class="main-nav-parent">
  <ion-toolbar class="main-nav-container">
    <div class="main-nav">

      <div>
        <ion-img [src]="'assets/active-schools-icon.svg'" class="ion-left-button">
        </ion-img>
      </div>

      <div>
        <a (click)="goToLogin()">
          <ion-icon name="close-outline" class="ion-left-button"></ion-icon>
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="menu-line-container">

    <div class="menu-line-bg">
      <div class="menu-line" [ngStyle]="{ 'width' : '100%' }">
      </div>
    </div>
  
    <div class="menu-diamond-group-container">
  
      <div class="menu-diamond-container">
        <div class="menu-button menu-button-active"></div>
      </div>
  
      <div class="menu-diamond-container">
        <div class="menu-button menu-button-active"></div>
      </div>
  
      <div class="menu-diamond-container">
        <div class="menu-button menu-button-active"></div>
      </div>
      
      <div class="menu-diamond-container">
        <div class="menu-button menu-button-active"></div>
      </div>

      <div class="menu-diamond-container">
        <div class="menu-button menu-button-active"></div>
      </div>
  
      <div class="menu-diamond-container">
        <div class="menu-button menu-button-active"></div>
      </div>
  
    </div>
  
    </div>
  
    <div class="title-container">
      <div class="title-container-diamond">
        <div>
          <!-- TODO - Crear icono para Customize Avatar -->
          <ion-icon name="document-text-outline"></ion-icon>
        </div>
      </div>
      <h1>Search Smart Band</h1>
    </div>

  <form class="form-registration">

    <ion-row class="search-slide">
      <ion-col class="sweep"></ion-col>
      <img src="assets/search.svg" />
    </ion-row>

    <div class="smart-band-content" style="width: 90%;margin: auto;">

      <ion-row class="ion-smart-name">
        <ion-item class="group-smart-name" lines="full">
          <ion-col>
            <ion-img [src]="'assets/icon-smart-band.svg'" class="ion-logo" style="float:left"></ion-img>
          </ion-col>
          <ion-col class="text-name" lines=" full">
            <p>Smart Band #1</p>
          </ion-col>
          <ion-col>
            <ion-img [src]="'assets/icon-paired.svg'" class="ion-logo" style="float:right"></ion-img>
          </ion-col>
        </ion-item>
      </ion-row>
    </div>

    <!-- <ion-row>
      <ion-col class="next-container">
        <ion-button type="submit" expand="block" class="next-button">Link Smart Band</ion-button>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col class="next-container">
        <ion-button (click)="goToMain()" type="submit" expand="block" class="next-button">
          <ion-icon name="chevron-forward-outline"></ion-icon>
          Skip
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
  
</ion-content>