<ion-content>
  <ion-grid>
    <ion-row class="ion-start-content">
      <ion-img [src]="'assets/active-schools.svg'" class="ion-logo"></ion-img>
    </ion-row>

    <ion-row class="search-slide">
      <ion-col class="sweep"></ion-col>
      <img src="assets/search.svg"/>
    </ion-row>

    <div class="smart-band-content" style="width: 90%;margin: auto;">
    <ion-row class="ion-question-text">
      <ion-item class="ion-question-text-name" lines="full">
        <p>Searching Smart Band</p>
      </ion-item>
    </ion-row>

    <ion-row class="ion-smart-name">
      <ion-item class="group-smart-name" lines="full">
        <ion-col>
          <ion-img [src]="'assets/icon-smart-band.svg'" class="ion-logo" style="float:left"></ion-img>
        </ion-col>
        <ion-col class="text-name"  lines=" full" >
          <p>Smart Band #1</p>
        </ion-col>
        <ion-col>
          <ion-img [src]="'assets/icon-paired.svg'" class="ion-logo"  style="float:right"></ion-img>
        </ion-col>
      </ion-item>
    </ion-row>
    </div>

    <ion-row>
      <ion-col class="next-container">
        <ion-button type="submit" expand="block" class="next-button">Link Smart Band</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="next-container">
        <ion-button [routerLink] = "['/college-tabs']" type="submit" expand="block" class="next-button">Skip</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
