<ion-header class="main-nav-parent">
  <ion-toolbar class="main-nav-container">
    <div class="main-nav">

      <div>
        <ion-img [src]="'assets/active-schools-icon.svg'" class="ion-left-button">
        </ion-img>
      </div>

      <div>
        <a routerLink="/settings">
          <!-- <ion-img [src]="'assets/settings.svg'" class="ion-left-button"></ion-img> -->
          <ion-icon name="settings-outline" class="ion-left-button"></ion-icon>
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="news-container">

    <a (click)="goToSingleNew(item.id)" *ngFor="let item of data; index as i">

      <div class="news-container-inner">

        <div class="news-left-container">
          <img class="new-image" src="{{item.image}}">
        </div>
        <div class="news-right-container">

          <div class="news-title-container">
            <h3>{{item.title}}</h3>
          </div>

          <div class="news-calendar-container">
            <ion-icon name="calendar" class="ion-calendar"></ion-icon>
            <p>{{item.date}}</p>
          </div>

          <div class="news-text-container">
            <p>{{item.content}}</p>
          </div>

        </div>

      </div>

    </a>

  </div>

</ion-content>