<!-- TODO Poner un unico header común, ajustando y cambiando unicamente el ion-content -->

<ion-tabs class="main-tabs">
  <ion-tab-bar slot="bottom" class="bottom-tab-bar">

    <ion-tab-button tab="route" (click)="goToRoutes()">
      <ion-icon name="location-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="goToProfile()">
      <ion-icon name="fitness-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button class="tab-disable" tab="achievements" (click)="goToAchievements()">
      <ion-icon name="star-outline"></ion-icon>
    </ion-tab-button> -->

    <!-- routeLink="tabs/teams/search-teams" -->

    <!-- <ion-tab-button class="tab-disable" tab="teams" (click)="goToTeams()">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="news" (click)="goToNews()">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>