<ion-header class="main-nav-parent">
  <ion-toolbar class="main-nav-container">
    <div class="main-nav">

      <div>
        <ion-img [src]="'assets/active-schools-icon.svg'" class="ion-left-button">
        </ion-img>
      </div>

      <div>
        <a routerLink="/tabs/route">
          <ion-icon name="close" class="ion-left-button"></ion-icon>
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-img [src]="'assets/active-schools.svg'" class="ion-logo"></ion-img>
  <ion-col class="ion-principal-text">
    <p>{{language.SETTINGS.settings}}</p>
  </ion-col>

  <ion-list>

    <ion-row>
      <ion-col class="language-container">

        <div (click)="selectLanguage('en')"
             class="ion-button-language"
             [ngClass]="{ 'ion-button-language-selected' : languageService.english }">
          <ion-img [src]="'assets/uk.png'"></ion-img>
        </div>

        <div (click)="selectLanguage('el')"
             class="ion-button-language"
             [ngClass]="{ 'ion-button-language-selected' : languageService.greece }">
          <ion-img [src]="'assets/greece.png'"></ion-img>
        </div>

        <div (click)="selectLanguage('es')"
             class="ion-button-language"
             [ngClass]="{ 'ion-button-language-selected' : languageService.spanish }">
          <ion-img [src]="'assets/spain.png'"></ion-img>
        </div>

      </ion-col>
    </ion-row>

  </ion-list>

  <ion-grid>

    <form class="form-login">

      <!-- <ion-row>
        <ion-col class="enter-container">
          <ion-button type="submit" routerLink="/tabs/route" expand="block" class="ion-button-enter">
            {{language.SETTINGS.editProfile}}
          </ion-button>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col class="enter-container">
          <ion-button type="submit"
                      (click)="deleteUser()"
                      expand="block"
                      class="ion-button-enter ion-button-delete">
            {{language.SETTINGS.deleteProfile}}
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- {{language.SETTINGS.deleteQuestion}} -->

      <!-- <ion-row>
        <ion-col class="enter-container">
          <ion-button block outline type="submit" expand="block" color="secondary" class="ion-button-enter">
            Edit Profile
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="delete-profile">
          <ion-button block outline type="submit" expand="block" color="secondary" class="ion-button-enter2">
            Delete Profile
          </ion-button>
        </ion-col>
      </ion-row> -->

    </form>

  </ion-grid>

</ion-content>