ion-content{
  //--ion-background-color: red;
  //font-size:36px !important;
}
a{
  text-decoration: none;
}
.ion-start-content{
  margin:0;
}

.main-nav-container {
  box-shadow: none !important;
  border-bottom: 1px solid var(--primary-green);
}

.main-nav {
  width: 100%;
  height: 40px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.main-nav div {
  height: 20px;
  aspect-ratio: 1;
}

.main-nav ion-icon {
  height: 20px;
  aspect-ratio: 1;
  font-size: 20px;
  display: block;
}

.ion-logo{
  width: 150px;
  margin: 60px auto 10px auto;
}

.ion-principal-text p {
  color: #ccc;
  font-family: 'Poppins', sans-serif;
  font-size: 24px !important;
  text-align: center;
  margin: 0 !important;
}

ion-item {
  width: calc(100% - 20px);
}

.align-self-center{
  margin-top:20px;
}
.login-button{
  background: transparent !important;
}
.form-login{
  width: 90%;
  align-items: center;
  margin: auto;
}
.ion-item-form{
  text-align: center;
  color: var(--ion-color-step-250, #aeb0b2);
  font-weight: lighter;
}



.ion-button-enter{
  width:100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  background: #e0b529;
  font-family: 'Montserrat', sans-serif !important;

  font-size: large;
  font-weight: normal;
  -webkit-clip-path: polygon(25px 0%, calc(100% - 25px) 0%, 100% 50%, calc(100% - 25px) 100%, 20px 100%, 0% 25px);
  clip-path: polygon(25px 0%, calc(100% - 25px) 0%, 100% 50%, calc(100% - 25px) 100%, 25px 100%, 0% 25px);
}


.ion-
.ion-button-enter2{
  width:100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

  background: #e02929;
  font-family: 'Montserrat', sans-serif !important;

  font-size: large;
  font-weight: lighter;
  -webkit-clip-path: polygon(25px 0%, calc(100% - 25px) 0%, 100% 50%, calc(100% - 25px) 100%, 20px 100%, 0% 25px);
  clip-path: polygon(25px 0%, calc(100% - 25px) 0%, 100% 50%, calc(100% - 25px) 100%, 25px 100%, 0% 25px);
}

.enter-container{
  text-align: center !important;
}
.secondary-text-container{
  text-align: center !important;
}
.secondary-text-container a{
  font-size: 15px;
  color: #ababab !important;
  margin-top:15px;
}


.profile{
  margin-top: 4px;
}
.ion-profile{
  margin-bottom: -1em;
}

#main {
  width:100%;
  display: flex;
}

#main div {
  flex: 1;
}

.ion-button-enter {
  width:100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;

  background: #29a9e0;
  font-family: 'Montserrat', sans-serif !important;

  font-size: 14px;
  font-weight: lighter;
  text-transform: capitalize;
  -webkit-clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 20px);
  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 20px);
}

.enter-container {
  text-align: center !important;
}

.ion-button-delete {
  background: #dc3545 !important;
}

.language-container {
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 40px;

  .ion-button-language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 0px !important;
    box-shadow: none !important;
  
    background: #4285F4 !important;
    font-family: 'Roboto', sans-serif !important;
    filter: saturate(0);

    img {
      height: 30px;
      aspect-ratio: 1;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:nth-child(2) {
      margin: 0 40px;
    }
  }

  .ion-button-language-selected {
    filter: saturate(1);
  }

}



