<ion-header class="main-nav-parent">
  <ion-toolbar class="main-nav-container">
    <div class="main-nav">

      <div>
        <ion-img [src]="'assets/active-schools-icon.svg'" class="ion-left-button">
        </ion-img>
      </div>

      <div>
        <a routerLink="/settings">
          <ion-img [src]="'assets/settings.svg'" class="ion-left-button"></ion-img>
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="profile-container">

    <div class="profile-user-level">

      <div class="profile-user-level-container">

        <img src="assets/icon/missions_icons/profile-frame.svg">

        <div class="profile-user-level-bar"></div>

        <div class="profile-user-image-container">
          <div class="profile-user-image-container-inner">
            <img src="assets/icon/missions_icons/profile-image.svg">
          </div>
        </div>

      </div>

    </div>

    <div class="profile-user-data">
      <div class="profile-user-data-top-container">
        <span>John Doe</span>
      </div>
      <div class="profile-user-data-bottom-container">
        <ion-icon name="location"></ion-icon>
        <span>C.P. Diego Marín | 6ºB | Ceutí</span>
      </div>
    </div>

    <div class="profile-user-challenge">

      <div class="profile-user-challenge-progress-container">
        <div class="profile-user-challenge-progress-bar"></div>

        <div class="profile-user-challenge-inner">
          <div class="profile-user-challenge-icon-container">
            <img src="assets/icon/missions_icons/profile-challenge-walk.svg">
          </div>
          <div class="profile-user-challenge-data-container">
            <span>5.783 /</span>
            <span>10.000</span>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="challenge-container"
       [ngClass]="{ 'challenge-container-expanded' : expandChallenge }"
       *ngIf="openChallengeWindow == true">

    <div class="challenge-title-container">
      <div class="challenge-title-icon-container">
        <img src="{{selectedChallenge.icon}}">
      </div>
      <div class="challenge-title-text-container">
        <span>{{selectedChallenge.name}}</span>
      </div>
      <div class="challenge-title-close-container" (click)="openChallengeWindow = !openChallengeWindow">
        <ion-icon name="close"></ion-icon>
      </div>
    </div>

    <div class="challenge-container-inner">

      <div class="challenge-target-container">
        <div class="challenge-target-container-inner">
          <div class="challenge-target-diamond">
            <span>{{selectedChallenge.target}}</span>
          </div>
        </div>
      </div>

      <div class="challenge-instructions-gallery-container" *ngIf="selectedChallenge.instructions.length > 0">
        <div class="challenge-instructions-gallery-inner-container">
          
          <div class="challenges-instructions-image-container"
               *ngFor="let image of selectedChallenge.instructions; index as i">
            <img src="{{image}}">
          </div>

        </div>
      </div>

      <div class="challenge-demostration-video" *ngIf="showVideoDemostration">
        <video autoplay *ngIf="selectedChallenge.video.type === 'local'">
          <source type="video/mp4" src="{{selectedChallenge.video.url}}" />
        </video>

        <object *ngIf="selectedChallenge.video.type === 'youtube'" data="{{selectedChallenge.video.url}}"></object>
      </div>

      <ion-button (click)="showVideoDemostration = !showVideoDemostration" type="submit" expand="block" class="challenge-demostration-button">
        <div class="challenge-demostration-icon-container">
          <ion-icon name="play"></ion-icon>
        </div>
        Watch video demostration
      </ion-button>

      <div class="challenge-reward-container">
        
        <div class="challenge-reward-diamond">
          <span>XP</span>
          <div class="challenge-reward-diamond-left"></div>
          <div class="challenge-reward-diamond-right"></div>
        </div>

        <div class="challenge-reward-tag-container">
          <img src="assets/icon/challenge-tag.svg">
          <span>{{selectedChallenge.reward}}</span>
        </div>

      </div>

      <div class="challenge-upload-button-container">
        
        <div class="challenge-upload-button" (click)="shareChallenge()">
          <ion-icon name="cloud-upload"></ion-icon>
        </div>

        <div class="challenge-upload-button-bg"></div>
      </div>

      <div class="challenge-upload-text-container">
        <span>Share your challenge!</span>
      </div>

      <div class="challenge-upload-icon-gallery-container">
        <div class="challenge-upload-icon-gallery-container-inner">
          <div class="challenge-upload-icon-gallery-diamond">
            <ion-icon name="camera"></ion-icon>
          </div>
        </div>
      </div>

      <div class="challenge-upload-gallery-container">
        <div class="challenge-upload-gallery-grid">

          <div class="challenge-upload-gallery-image-container"
               *ngFor="let image of selectedChallenge.gallery; index as i"
               (click)="image.like = !image.like">
            
            <div class="challenge-upload-gallery-like-button-container"
                 *ngIf="!image.like">
              <ion-icon name="heart-outline"></ion-icon>
            </div>

            <div class="challenge-upload-gallery-like-button-container challenge-upload-gallery-like-button-container-active"
                 *ngIf="image.like">
              <ion-icon name="heart"></ion-icon>
            </div>

            <img src="{{image.image}}">

          </div>

        </div>

      </div>

    </div>

    <div class="zig-zag-bottom"></div>

    <div class="challenge-expand-button-container" (click)="expandChallenge = !expandChallenge">
      <ion-icon *ngIf="!expandChallenge" name="arrow-down"></ion-icon>
      <ion-icon *ngIf="expandChallenge" name="arrow-up"></ion-icon>
    </div>

  </div>

  <div id="mapid"></div>

</ion-content>

<ion-item>
  <ion-label>Routes</ion-label>
  <ion-select interface="action-sheet"
              class="custom-options"
              (ionChange)="panToRoute($event)">
    <ion-select-option *ngFor="let route of routes; index as i"
                       [value]="i">
                       {{route.start}}
    </ion-select-option>
  </ion-select>
</ion-item>

<div class="reward-container" *ngIf="openRewardWindow">
  
  <div class="reward-container-inner">
    <img class="reward-diamond" src="assets/icon/challenge-reward.svg">
    
    <div class="reward-tag-container">
      <img class="reward-tag" src="assets/icon/challenge-tag.svg">
      <span>1000</span>
    </div>

  </div>

</div>