<ion-header class="main-nav-parent">
  <ion-toolbar class="main-nav-container">
    <div class="main-nav">

      <div>
        <ion-img [src]="'assets/active-schools-icon.svg'" class="ion-left-button">
        </ion-img>
      </div>

      <div>
        <a routerLink="/settings">
          <!-- <ion-img [src]="'assets/settings.svg'" class="ion-left-button"></ion-img> -->
          <ion-icon name="settings-outline" class="ion-left-button"></ion-icon>
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="profile-container">

    <div class="profile-user-level">

      <div class="profile-user-level-container">

        <!-- <img src="assets/icon/missions_icons/profile-frame.svg"> -->

        <div class="profile-user-level-bar"></div>

        <div class="profile-user-image-container">
          <div class="profile-user-image-container-inner">

            <img src="{{selectedHead}}">

          </div>
        </div>

      </div>

    </div>

    <div class="profile-user-data">
      <div class="profile-user-data-top-container">
        <p>{{userInfo.personalData.name}} {{userInfo.personalData.surname}}</p>
      </div>
      <div class="profile-user-data-bottom-container">
        <ion-icon name="location"></ion-icon>
        <span>{{userInfo.personalData.schoolName}} | {{userInfo.personalData.course}} |
          {{userInfo.personalData.city}}</span>
      </div>
    </div>

    <div class="profile-user-challenge">

      <div class="profile-user-challenge-progress-container">
        <div class="profile-user-challenge-progress-bar"></div>

        <div class="profile-user-challenge-inner">
          <div class="profile-user-challenge-icon-container">
            <ion-icon name="footsteps-outline"></ion-icon>
            <!-- <img src="assets/icon/missions_icons/profile-challenge-walk.svg"> -->
          </div>
          <div class="profile-user-challenge-data-container">
            <span>{{dailySteps || 5500}} /</span>
            <span>10000</span>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="challenge-container" [ngClass]="{ 'challenge-container-expanded' : expandChallenge }"
    *ngIf="openChallengeWindow == true">

    <div class="challenge-title-container">

      <div class="challenge-title-icon-container">
        <img src="{{selectedChallenge.icon}}">
      </div>

      <div class="challenge-title-text-container">
        <span>{{selectedChallenge.name}}</span>
      </div>

      <div class="challenge-title-close-container" (click)="closeChallengeWindow()">
        <ion-icon name="close"></ion-icon>
      </div>

    </div>

    <div class="challenge-container-inner">

      <div class="challenge-container-info">
        <span>{{selectedChallenge.description}}</span>
      </div>

      <div class="challenge-target-container">
        <div class="challenge-target-container-inner">
          <div class="challenge-target-diamond">
            <span>{{selectedChallenge.target}}</span>
          </div>
        </div>
      </div>

      <div class="challenge-instructions-gallery-container" *ngIf="selectedChallenge.instructions.length > 0">
        <div class="challenge-instructions-gallery-inner-container">

          <div class="challenges-instructions-image-container"
            *ngFor="let image of selectedChallenge.instructions; index as i">
            <img src="{{image}}">
          </div>

        </div>
      </div>

      <div class="challenge-demostration-video" *ngIf="showVideoDemostration">

        <video autoplay muted *ngIf="showCountdown === true && showVideoDemostration === true">
          <source type="video/mp4" src="../../../assets/videos/active-schools-countdown.mp4" />
        </video>

        <iframe *ngIf="showCountdown === false && showVideoDemostration === true"
                [src]="selectedChallenge.video.url | safeUrl"
                title="YouTube video player"
                loading="lazy"
                frameborder="0"
                allow="autoplay"
                allowfullscreen>
        </iframe>

        <!--         
        <object *ngIf="selectedChallenge.video.type === 'external'"
          data="{{selectedChallenge.video.url + '?autoplay=1&mute=1&loop=1'}}">
        </object>
        -->

      </div>

      <ion-button (click)="openVideoDemo()"
                  type="submit"
                  expand="block"
                  class="challenge-demostration-button">
        <div class="challenge-demostration-icon-container">
          <ion-icon name="play"></ion-icon>
        </div>
        Watch video demostration
      </ion-button>

      <div class="challenge-stats-container">

        <div class="challenge-stats-title-container">
          <span>
            Number of times the challenge
            <br>
            has been completed
          </span>
        </div>

        <div class="challenge-stats-container-inner">

          <div class="challenge-stats-left-container">
            <div class="challenge-stats-diamond">
              <span>{{selectedStatsChallenge.completed24h}}</span>
              <div class="challenge-stats-diamond-left"></div>
              <div class="challenge-stats-diamond-right"></div>
            </div>

            <div class="challenge-stats-time-details-container">
              <span>In the last 24h</span>
            </div>

          </div>

          <div class="challenge-stats-right-container">
            <div class="challenge-stats-diamond">
              <span>{{selectedStatsChallenge.completed7d}}</span>
              <div class="challenge-stats-diamond-left"></div>
              <div class="challenge-stats-diamond-right"></div>
            </div>

            <div class="challenge-stats-time-details-container">
              <span>In the last 7d</span>
            </div>
          </div>

        </div>

      </div>

      <div class="challenge-reward-container">

        <div class="challenge-reward-diamond">
          <span>XP</span>
          <div class="challenge-reward-diamond-left"></div>
          <div class="challenge-reward-diamond-right"></div>
        </div>

        <div class="challenge-reward-tag-container">
          <img src="assets/icon/challenge-tag.svg">
          <span>{{selectedChallenge.reward}}</span>
        </div>

      </div>

      <!-- CHALLENGE DESACTIVADO Y SIN COMPLETAR -->
      <div class="challenge-upload-button-container" *ngIf="!selectedChallengeSuccess && challengeActive">

        <div class="challenge-upload-button challenge-button-violet">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="challenge-upload-button-bg challenge-button-violet"></div>
      </div>

      <div class="challenge-upload-text-container" *ngIf="!selectedChallengeSuccess && challengeActive">
        <span>You must get closer to activate the challenge</span>
      </div>
      <!-- -->

      <!-- CHALLENGE ACTIVADO PERO SIN COMPLETAR-->
      <div class="challenge-upload-button-container" *ngIf="!selectedChallengeSuccess && !challengeActive">

        <div class="challenge-upload-button challenge-button-green"
          (click)="getReward(selectedChallenge)">
          <ion-icon name="checkmark"></ion-icon>
        </div>

        <div class="challenge-upload-button-bg challenge-button-green"></div>
      </div>

      <div class="challenge-upload-text-container" *ngIf="!selectedChallengeSuccess && !challengeActive">
        <span>Done?</span>
      </div>
      <!-- -->

      <!-- CHALLENGE COMPLETADO -->
      <div class="challenge-upload-button-container" *ngIf="selectedChallengeSuccess">

        <div class="challenge-upload-button" (click)="shareChallenge()">
          <ion-icon name="cloud-upload"></ion-icon>
        </div>

        <div class="challenge-upload-button-bg"></div>
      </div>

      <div class="challenge-upload-text-container" *ngIf="selectedChallengeSuccess">
        <span>Share your challenge!</span>
      </div>
      <!-- -->

      <div class="challenge-upload-icon-gallery-container">
        <div class="challenge-upload-icon-gallery-container-inner">
          <div class="challenge-upload-icon-gallery-diamond">
            <ion-icon name="camera"></ion-icon>
          </div>
        </div>
      </div>

      <div class="challenge-upload-gallery-container">
        <div class="challenge-upload-gallery-grid">

          <div class="challenge-upload-gallery-image-container"
            *ngFor="let image of selectedChallenge.gallery; index as i" (click)="image.like = !image.like">

            <div class="challenge-upload-gallery-like-button-container" *ngIf="!image.like">
              <ion-icon name="heart-outline"></ion-icon>
            </div>

            <div
              class="challenge-upload-gallery-like-button-container challenge-upload-gallery-like-button-container-active"
              *ngIf="image.like">
              <ion-icon name="heart"></ion-icon>
            </div>

            <img src="{{image.image}}">

          </div>

        </div>

      </div>

    </div>

    <!-- <div class="zig-zag-bottom"></div> -->

    <div class="challenge-expand-button-container" (click)="expandChallenge = !expandChallenge">
      <ion-icon *ngIf="!expandChallenge" name="chevron-down-outline"></ion-icon>
      <ion-icon *ngIf="expandChallenge" name="chevron-up-outline"></ion-icon>
    </div>

  </div>

  <div id="mapid"></div>

</ion-content>

<div class="user-fixed-position-container" [ngClass]="{ 'user-fixed-position-container-active' : userFixedPosition }"
  (click)="userFixedPosition = !userFixedPosition">
  <ion-icon name="locate"></ion-icon>
</div>

<ion-item>
  <ion-label>Routes</ion-label>
  <ion-select interface="action-sheet" class="custom-options" (ionChange)="panToRoute($event)">
    <ion-select-option *ngFor="let route of routes; index as i" [value]="i">
      {{route.name}}
    </ion-select-option>
  </ion-select>
</ion-item>

<div class="reward-container" *ngIf="openRewardWindow">

  <div class="reward-container-inner">
    <img class="reward-diamond" src="assets/icon/challenge-reward.svg">

    <div class="reward-tag-container">
      <img class="reward-tag" src="assets/icon/challenge-tag.svg">
      <span>{{selectedChallenge.reward}}</span>
    </div>

  </div>

</div>