html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

html,
body,
#mapid {
  height: 100%;
  width: 100vw;
  overflow: hidden !important;
}

#mapid {
  height: calc(100vh - 70px);
  width: 100vw;
  // top: 57px;
  position: relative;
  overflow: hidden !important;
}

.main-nav-container {
  box-shadow: none !important;
  border-bottom: 1px solid #00a195;
}

.main-nav {
  width: 100%;
  height: 40px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.main-nav div {
  height: 25px;
  aspect-ratio: 1;
}

.main-nav ion-icon {
  height: 25px;
  aspect-ratio: 1;
  font-size: 24px;
  display: block;
}

ion-content {
  width: 100vw;
  height: calc(100vh - 77px);
  position: fixed;
  --overflow: hidden;
}

.profile-container {
  width: calc(100% - 20px);
  height: 60px;
  border-radius: 30px;
  margin: 10px;
  position: fixed;
  z-index: 999999999;
  background: #fff;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  top: 75px;
}

.profile-user-level,
.profile-user-challenge {
  height: 60px;
  aspect-ratio: 1;
  border-radius: 30px;
}

.profile-user-level-container {
  height: 100%;
  aspect-ratio: 1;
  background: #dedede;
  border-radius: 50%;
  position: relative;
}

.profile-user-level-container img {
  position: relative;
  z-index: 1;
}

.profile-user-level-bar {
  height: 100%;
  aspect-ratio: 1;
  background: #ff6f00;
  border-radius: 50%;
  clip-path: polygon(0 100%, 50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.profile-user-data {
  height: 60px;
  width: calc(100% - 120px);
  padding: 10px;
}

.profile-user-data-top-container,
.profile-user-data-bottom-container {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.profile-user-data-top-container span {
  font-size: 18px;
  font-weight: 800;
  color: #ff6f00;
  line-height: 25px;
}

.profile-user-data-bottom-container span {
  font-size: 9px;
  font-weight: 600;
  color: #00a195;
  line-height: 25px;
}

.profile-user-data-bottom-container ion-icon {
  color: #ff6f00;
  line-height: 25px;
  font-size: 12px;
  top: 2px;
  margin-right: 5px;
  position: relative;
}

.profile-user-challenge-progress-container {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #eaeaea;
  position: relative;
}

.profile-user-challenge-progress-bar {
  width: 100%;
  aspect-ratio: 1;
  clip-path: polygon(0 100%, 50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%);
  border-radius: 50%;
  background: #ff6f00;
}

.profile-user-image-container {
  height: calc(100% - 10px);
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
}

.profile-user-image-container-inner {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 0 0 50% 50%;
  text-align: center;
  overflow: hidden;
}

.profile-user-image-container-inner img {
  width: 80%;
}

.profile-user-challenge-inner {
  width: calc(100% - 8px);
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 4px;
  left: 4px;
}

.profile-user-challenge-icon-container {
  width: 100%;
  height: 40%;
  text-align: center;
}

.profile-user-challenge-data-container {
  width: 100%;
  height: 60%;
  text-align: center;
  padding: 5px 0;
}

.profile-user-challenge-icon-container img {
  height: 80%;
  width: auto;
  margin: 10% auto;
}

.profile-user-challenge-data-container span {
  display: block;
  color: #00a195;
  font-size: 9px;
  line-height: 10px;
  height: 50%;
}

.profile-user-challenge-data-container span:nth-child(2) {
  font-weight: 800;
}

.no-scroll {
  --overflow: hidden;
}

.challenge-container {
  width: calc(100% - 20px);
  height: 160px;
  margin: 80px 10px 0 10px;
  transition: 0.3s ease all;
  position: fixed;
  z-index: 9999;
  background: #fff;
  top: 75px;

  .challenge-title-container {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #00a195;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .challenge-title-icon-container {
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #00a195;
      clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, calc(100% - 20px) 100%, 0 100%);
      margin-right: 5px;

      ion-icon {
        font-size: 25px;
        color: #00a195;
        line-height: 20px;
        text-align: center;
        position: relative;
        left: -5px;
      }

      img {
        height: 20px;
        width: 20px;
        object-fit: contain;
        object-position: center;
        position: relative;
        left: -5px;
      }

    }

    .challenge-title-text-container {
      width: calc(100% - 60px);
      height: 30px;

      span {
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #00a195;
      }

    }

    .challenge-title-close-container {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        font-size: 25px;
        color: #00a195;
        line-height: 40px;
        text-align: center;
      }

    }

  }

  .challenge-container-inner {
    width: 100%;
    height: calc(100% - 32px);
    overflow-y: auto;
    overflow-x: hidden;

    .challenge-container-info {
      width: calc(100% - 20px);
      height: auto;
      margin: 10px auto;
      text-align: justify;

      span {
        font-size: 12px;
        color: #666;
      }
    }

    .challenge-target-container {
      width: calc(100% - 20px);
      height: 50px;
      position: relative;
      margin: 0 auto -15px auto;
      z-index: 999;

      .challenge-target-container-inner {
        width: 50px;
        height: 50px;
        margin: auto;

        .challenge-target-diamond {
          width: 50px;
          height: 50px;
          background: #ff6f00;
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            color: #fff;
            font-weight: 800;
            font-size: 12px;
          }
        }
      }

    }

    .challenge-target-container::before,
    .challenge-target-container::after {
      content: '';
      position: absolute;
      width: calc(50% - 35px);
      height: 1px;
      background: #dedede;
      top: 24px;
    }

    .challenge-target-container::before {
      left: 0;
    }

    .challenge-target-container::after {
      right: 0;
    }

    .challenge-instructions-gallery-container {
      width: calc(100% - 20px);
      height: 100px;
      margin: auto;
      overflow-x: auto;
      overflow-y: hidden;

      .challenge-instructions-gallery-inner-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;


        .challenges-instructions-image-container {
          height: 100%;
          width: calc(25% - 10px);
          margin-right: 10px;
          display: inline-block;
          border: 1px solid #00a195;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          position: relative;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .challenges-instructions-image-container::before {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: 0;
          right: 0;
          border-style: solid;
          border-width: 5px;
          border-color: #00a195 #00a195 transparent transparent;
        }

        .challenges-instructions-image-container::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          bottom: 0;
          left: 0;
          border-style: solid;
          border-width: 5px;
          border-color: transparent transparent #00a195 #00a195;
        }

        .challenges-instructions-image-container:last-child {
          margin: 0;
        }

      }
    }

    .challenge-demostration-video {
      width: calc(100% - 20px);
      height: auto;
      margin: 20px auto 0 auto;

      video,
      object {
        width: 100%;
        aspect-ratio: 16 / 9;
      }
    }

    .challenge-demostration-button {
      position: relative;
      width: calc(100% - 20px);
      height: 40px;
      margin: 20px auto;

      font-family: 'Montserrat', sans-serif !important;
      font-size: 12px;
      font-weight: lighter;
      text-transform: capitalize;

      -webkit-clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 20px);
      clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 20px);

      .challenge-demostration-icon-container {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 5px;
        left: -5px;
        background: #fff;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        display: flex;
        justify-content: center;
        align-items: center;

        ion-icon {
          color: #ff6f00;
        }
      }
    }

    .challenge-stats-container {
      width: calc(100% - 20px);
      height: auto;
      margin: 5px auto 15px auto;
      border-style: solid;
      border-width: 1px;
      border-color: #ccc transparent;

      .challenge-stats-title-container {
        width: 100%;
        text-align: center;
        padding-top: 10px;

        span {
          font-size: 14px;
          color: #00a195;
          font-weight: 600;
        }
      }

      .challenge-stats-container-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
          width: 50%;
          height: auto;

          .challenge-stats-diamond {
            width: 50px;
            height: 50px;
            background: #00a195;
            -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
            clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            margin: 20px auto;

            span {
              font-weight: 800;
              color: #fff;
              z-index: 1;
            }

            .challenge-stats-diamond-left {
              width: 25px;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              background: rgb(255, 111, 0);
              background: linear-gradient(180deg, rgba(255, 111, 0, 1) 0%, rgba(166, 72, 0, 1) 100%);
            }

            .challenge-stats-diamond-right {
              width: 25px;
              height: 100%;
              position: absolute;
              right: 0;
              top: 0;
              background: rgb(255, 174, 112);
              background: linear-gradient(180deg, rgba(255, 174, 112, 1) 0%, rgba(207, 89, 0, 1) 100%);
            }
          }

          .challenge-stats-time-details-container {
            width: 100%;
            text-align: center;
            padding-bottom: 10px;

            span {
              font-size: 12px;
              color: #ff6f00;
            }
          }
        }
      }
    }

    .challenge-reward-container {
      width: calc(100% - 20px);
      height: auto;
      margin: auto;

      .challenge-reward-diamond {
        width: 50px;
        height: 50px;
        background: #00a195;
        -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        margin: auto;

        span {
          font-weight: 800;
          color: #fff;
          z-index: 1;
        }

        .challenge-reward-diamond-left {
          width: 25px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: rgb(0, 161, 149);
          background: linear-gradient(0deg, rgba(0, 161, 149, 1) 0%, rgba(0, 81, 75, 1) 100%);
        }

        .challenge-reward-diamond-right {
          width: 25px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          background: rgb(49, 178, 168);
          background: linear-gradient(0deg, rgba(49, 178, 168, 1) 0%, rgba(0, 121, 112, 1) 100%);
        }
      }

      .challenge-reward-tag-container {
        width: 100%;
        height: 52px;
        position: relative;
        text-align: center;

        img {
          width: 100%;
          height: 52px;
          object-fit: contain;
          object-position: center;
        }

        span {
          position: relative;
          font-size: 18px;
          font-weight: 800;
          color: #00a195;
          bottom: 34px;
        }

      }

    }

    .challenge-upload-button-container {
      width: calc(100% - 20px);
      height: 70px;
      margin: 20px auto 10px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .challenge-upload-button {
        width: 50px;
        height: 50px;
        background-color: #ff6f00;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        position: relative;
        z-index: 1;

        ion-icon {
          color: #fff
        }

      }

      .challenge-upload-button-bg {
        width: 50px;
        height: 50px;
        background-color: #ff6f00;
        -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        opacity: 1;
        position: absolute;
        animation: 1s infinite ease;
        animation-name: upload-button;
      }

      @keyframes upload-button {
        from {
          width: 50px;
          height: 50px;
          opacity: 1;
        }

        to {
          width: 70px;
          height: 70px;
          opacity: 0;
        }
      }

    }

    .challenge-upload-text-container {
      width: calc(100% - 20px);
      height: auto;
      margin: auto;
      text-align: center;

      span {
        color: #00a195;
        font-size: 16px;
        font-weight: 800;
      }
    }

    .challenge-upload-icon-gallery-container {
      width: calc(100% - 20px);
      height: 50px;
      position: relative;
      margin: 10px auto 5px auto;

      .challenge-upload-icon-gallery-container-inner {
        width: 50px;
        height: 50px;
        margin: auto;

        .challenge-upload-icon-gallery-diamond {
          width: 50px;
          height: 50px;
          background: #ff6f00;
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          ion-icon {
            color: #ff6f00;
            font-weight: 800;
            position: relative;
            z-index: 99;
          }
        }

        .challenge-upload-icon-gallery-diamond::after {
          content: '';
          width: 48px;
          height: 48px;
          background: #fff;
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          top: 1px;
          left: 1px;
          position: absolute;
        }
      }

    }

    .challenge-upload-icon-gallery-container::before,
    .challenge-upload-icon-gallery-container::after {
      content: '';
      position: absolute;
      width: calc(50% - 35px);
      height: 1px;
      background: #dedede;
      top: 24px;
    }

    .challenge-upload-icon-gallery-container::before {
      left: 0;
    }

    .challenge-upload-icon-gallery-container::after {
      right: 0;
    }

    .challenge-upload-gallery-container {
      width: calc(100% - 20px);
      height: auto;
      margin: auto;

      .challenge-upload-gallery-grid {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        .challenge-upload-gallery-image-container {
          height: 100%;
          aspect-ratio: 4 / 3;
          background: red;
          position: relative;
          overflow: hidden;

          .challenge-upload-gallery-like-button-container {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            right: 5px;
            background: #00a195;
            display: flex;
            justify-content: center;
            align-items: center;

            ion-icon {
              color: #fff;
              font-size: 8px;
            }
          }

          .challenge-upload-gallery-like-button-container-active {
            background: #dc3545;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }

  }

  .zig-zag-bottom {
    position: absolute;
    background:
      linear-gradient(45deg, #fff 16px, transparent 0),
      linear-gradient(-45deg, #fff 16px, #fff 16px, #fff 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 24px 32px;
    transform: rotate(180deg);
    content: " ";
    display: block;

    height: 32px;
    width: 100%;
    bottom: -32px;
    left: 0;
  }

  .challenge-expand-button-container {
    position: absolute;
    width: 60px;
    height: 24px;
    background: #ff6f00;
    right: 0;
    bottom: -35px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 24px 100%, 0 0);
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      padding-left: 16px;
      color: #fff;
    }
  }

}

.challenge-container-expanded {
  height: calc(100% - 250px);
}

.action-sheet-button.sc-ion-action-sheet-ios {
  font-size: 14px !important;
}

.reward-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: 5s ease forwards;
  animation-name: reward-bg-appear;

  .reward-container-inner {
    height: 200px;
    width: auto;
    position: relative;

    .reward-diamond {
      height: 100%;
      width: auto;
      object-fit: cover;
      object-position: center;
      position: relative;
      animation: 5s ease forwards;
      animation-name: reward-diamond-appear;
    }

    .reward-tag-container {
      width: 90%;
      height: auto;
      margin: auto 5%;
      position: relative;
      top: -50px;
      text-align: center;
      animation: 5s ease forwards;
      animation-name: reward-tag-appear;

      span {
        font-size: 28px;
        font-weight: 800;
        color: #00a195;
        position: relative;
        top: -41px;
      }
    }
  }
}

@keyframes reward-bg-appear {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes reward-diamond-appear {
  0% {
    top: 40px;
    opacity: 0;
  }

  10% {
    top: 40px;
    opacity: 0;
  }

  20% {
    top: 0;
    opacity: 1;
  }

  80% {
    top: 0;
    opacity: 1;
  }

  90% {
    top: 40px;
    opacity: 0;
  }

  100% {
    top: 40px;
    opacity: 0;
  }
}

@keyframes reward-tag-appear {
  0% {
    top: 0;
    opacity: 0;
  }

  20% {
    top: 0;
    opacity: 0;
  }

  30% {
    top: -50px;
    opacity: 1;
  }

  70% {
    top: -50px;
    opacity: 1;
  }

  80% {
    top: 0;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

.userMarker {
  transform: rotate(0deg);
}