<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="main">
      <div>
        <ion-img [src]="'assets/active-schools.svg'" class="ion-left-button" style="margin: 0px 10px;width:20%"></ion-img>
      </div>
      <div>
        <a routerLink ="/settings"> <ion-img [src]="'assets/settings.svg'" class="ion-left-button" style="margin: 0px 10px; width:20%; float: right"></ion-img></a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of data; index as i">
    <ion-item>
      <ion-thumbnail slot="start" class="ios hydrated">
        <img class="new-image" src="{{item.image}}">
      </ion-thumbnail>
      <ion-label >
        <h3>{{item.title}}</h3>
        <ion-icon name="calendar" class="ion-calendar"></ion-icon>
          <p class="date">{{item.date}}</p>
          <p class="content">{{item.content}}</p>
          <a (click)="openTransparentModal()" class="read-more">Read more..</a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
