<ion-tabs>
  <ion-tab-bar slot="bottom" class="bottom-tab-bar">

    <ion-tab-button tab="route">
      <ion-icon name="location-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="like" class="inner-left-btn">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="fav" class="inner-right-btn">
      <ion-icon name="star-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


