<ion-header class="main-nav-parent">
  <ion-toolbar class="main-nav-container">
    <div class="main-nav">

      <div>
        <ion-img [src]="'assets/active-schools-icon.svg'" class="ion-left-button">
        </ion-img>
      </div>

      <div>
        <a (click)="goToLogin()">
          <ion-icon name="close-outline" class="ion-left-button"></ion-icon>
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="menu-line-container">

  <div class="menu-line-bg">
    <div class="menu-line" [ngStyle]="{ 'width': 100 / 6 * 4 + '%'}"></div>
  </div>

  <div class="menu-diamond-group-container">

    <div class="menu-diamond-container">
      <div class="menu-button menu-button-active"></div>
    </div>

    <div class="menu-diamond-container">
      <div class="menu-button menu-button-active"></div>
    </div>

    <div class="menu-diamond-container">
      <div class="menu-button menu-button-active"></div>
    </div>

    <div class="menu-diamond-container">
      <div class="menu-button menu-button-active"></div>
    </div>
    
    <div class="menu-diamond-container">
      <div class="menu-button menu-button-active"></div>
    </div>

    <div class="menu-diamond-container">
      <div class="menu-button"></div>
    </div>

    <div class="menu-diamond-container">
      <div class="menu-button"></div>
    </div>

  </div>

  </div>

  <div class="title-container">
    <div class="title-container-diamond">
      <div>
        <!-- TODO - Crear icono para Customize Avatar -->
        <ion-icon name="document-text-outline"></ion-icon>
      </div>
    </div>
    <h1>{{language.HEALTHY.healthyInfo}}</h1>
  </div>

  <form class="form-registration">

    <ion-item lines="full" class="ion-item-form">
      <ion-label>{{language.HEALTHY.medicalCenter}}</ion-label>
      <ion-select (ionChange)="selectedMedicalCenter($event)">
        <ion-select-option *ngFor="let medicalCenter of allMedicalCenters; index as i" [value]="i">
          {{medicalCenter.medical_center_name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <!-- <ion-item lines="full" class="ion-item-form">
      <ion-label position="floating">Centre</ion-label>
      <ion-input type="text" [(ngModel)]="registerData.medicalCenter" name="medicalCenter" required></ion-input>
    </ion-item>

    <ion-item lines="full" class="ion-item-form">
      <ion-label position="floating">Doctor</ion-label>
      <ion-input type="text" [(ngModel)]="registerData.doctor" name="doctor" required></ion-input>
    </ion-item> -->

    <ion-row>
      <ion-col class="next-container">
        <ion-button (click)="saveHealthyInfo()" type="submit" expand="block" class="next-button">
          <ion-icon name="chevron-forward-outline"></ion-icon>
          {{language.COMMON.next}}
        </ion-button>
        <ion-button (click)="goToBack()" type="submit" expand="block" class="next-button">
          <ion-icon name="chevron-back-outline"></ion-icon>
          {{language.COMMON.back}}
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>