<div class="title-container">
  <div class="title-container-diamond">
    <div>
      <ion-icon name="footsteps-outline"></ion-icon>
    </div>
  </div>
  <h1>{{language.HISTORY.stepsHistory}}</h1>
</div>

<div class="rows-container no-padding">

  <div class="square-left">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="footsteps-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{dailyValue}}</h2>
        <h3>{{language.HISTORY.avgSteps}} ({{language.HISTORY.day}})</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkSteps(dailyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

  <div class="square-right">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="footsteps-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{weeklyValue}}</h2>
        <h3>{{language.HISTORY.avgSteps}} ({{language.HISTORY.week}})</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkSteps(weeklyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

  <div class="square-left">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="footsteps-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{monthlyValue}}</h2>
        <h3>{{language.HISTORY.avgSteps}} ({{language.HISTORY.month}})</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkSteps(monthlyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

  <div class="square-right">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="footsteps-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{yearlyValue}}</h2>
        <h3>{{language.HISTORY.avgSteps}} ({{language.HISTORY.day}})</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkSteps(yearlyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

</div>

<div class="title-container">
  <div class="title-container-diamond">
    <div>
      <ion-icon name="golf-outline"></ion-icon>
    </div>
  </div>
  <h1>{{language.HISTORY.distanceHistory}} (Km)</h1>
</div>

<div class="rows-container">

  <div class="square-left">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="golf-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{checkDistance(dailyValue)}}</h2>
        <h3>{{language.HISTORY.avgDistance}} ({{language.HISTORY.day}})</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkDistancePercent(dailyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

  <div class="square-right">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="golf-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{checkDistance(weeklyValue)}}</h2>
        <h3>{{language.HISTORY.avgDistance}} ({{language.HISTORY.week}})</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkDistancePercent(weeklyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

  <div class="square-left">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="golf-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{checkDistance(monthlyValue)}}</h2>
        <h3>{{language.HISTORY.avgDistance}} ({{language.HISTORY.week}})</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkDistancePercent(monthlyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

  <div class="square-right">

    <div class="square-inner">

      <div class="achievement-diamond-container">
        <ion-icon name="golf-outline"></ion-icon>
        <div class="achievement-diamond-left">
        </div>
        <div class="achievement-diamond-right">
        </div>
      </div>

      <div class="stat-info-container">
        <h2>{{checkDistance(yearlyValue)}}</h2>
        <h3>{{language.HISTORY.avgDistance}} ({{language.HISTORY.week}})</h3>
      </div>

      <div class="row-progress-bar-bg">
        <div class="row-progress-bar achievement-bg"
             [ngStyle]="{ width: checkDistancePercent(yearlyValue) + '%' }">
        </div>
      </div>

    </div>

  </div>

</div>