<ion-header>
  <ion-toolbar>
    <div id="main">
      <div>
        <ion-img [src]="'assets/active-schools.svg'" class="ion-left-button" style="margin: 0px 10px;width:20%"></ion-img>
      </div>
      <div>
        <a routerLink ="/settings"> <ion-img [src]="'assets/settings.svg'" class="ion-left-button" style="margin: 0px 10px; width:20%; float: right"></ion-img></a>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatar">
    <img src="assets/avatar.svg">
  </div>
  <!--<div class="rating-content">
      <table class="rwd-table">
      <tr>
        <td class="rating-left">
          <img style="display: inline-block; float: right;" src="assets/heart_rate.svg">
          <p>test</p>
        </td>
        <td>
          <img  src="assets/heart_rate.svg">
        </td>
      </tr>

      <tr>
        <td class="break"></td>
      </tr>
      <tr>
        <td class="rating-left">
          <img style="display: inline-block; float: right;" src="assets/heart_rate.svg">
        </td>
        <td>
        <img  src="assets/heart_rate.svg">
      </td>
      </tr>
    </table>
  </div>-->

  <div>
    <div class="row">
      <div class="column" style="background-color:#aaa;">
        <h2>Column 1</h2>
        <p>Some text..</p>
      </div>
      <div class="column" style="background-color:#bbb;">
        <h2>Column 2</h2>
        <p>Some text..</p>
      </div>
    </div>
    <div class="row">
      <div class="column" style="background-color:#aaa;">
        <h2>Column 1</h2>
        <p>Some text..</p>
      </div>
      <div class="column" style="background-color:#bbb;">
        <h2>Column 2</h2>
        <p>Some text..</p>
      </div>
    </div>
  </div>
</ion-content>
