.main-nav-container {
  box-shadow: none !important;
  border-bottom: 1px solid #00a195;
}

.main-nav {
  width: 100%;
  height: 40px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.main-nav div {
  height: 25px;
  aspect-ratio: 1;
}

.main-nav ion-icon {
  height: 25px;
  aspect-ratio: 1;
  font-size: 24px;
  display: block;
}

.no-scroll {
  --overflow: hidden;
}

.profile-place-data-container {
  height: 30px;
}

.profile-place-data-container span {
  font-size: 9px;
  font-weight: 600;
  color: #00a195;
  line-height: 30px;
}

.profile-place-data-container {
  padding: 0 10px;
}

.profile-place-data-container ion-icon {
  color:#ff6f00;
  line-height: 30px;
  font-size: 12px;
  top: 2px;
  margin-right: 5px;
  position: relative;
}

.profile-user-container {
  height: calc(50% - 30px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .profile-user-level {
    height: 150px;
    aspect-ratio: 1;
    border-radius: 30px;

    .profile-user-level-container {
      height: 100%;
      aspect-ratio: 1;
      background: #dedede;
      border-radius: 50%;
      position: relative;

      img {
        position: relative;
        z-index: 1;
      }

      .profile-user-level-bar {
        height: 100%;
        aspect-ratio: 1;
        background: #ff6f00;
        border-radius: 50%;
        clip-path: polygon(0 100%, 50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%);
        position: absolute;
        top: 0;
        left: 0;
      }

      .profile-user-image-container {
        height: calc(100% - 24px);
        aspect-ratio: 1;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 12px;
        left: 12px;

        .profile-user-image-container-inner {
          height: 100%;
          aspect-ratio: 1;
          border-radius: 0 0 50% 50%;
          text-align: center;
          overflow: hidden;

          img {
            width: 80%;
          }

        }

      }

    }

  }

}


.profile-stats-container {
  
  height: 50%;
  width: 100%;
  background-color: #ededed;
  position: relative;
  padding: 0 20px;
  
  .row {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-stats-inner-container {
      height: 100%;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      img{
        width: 80%;
      }

      .profile-stats-text-container {
        width: 100%;
        height: auto;
        text-align: center;
        position: absolute;
        bottom: 10px;

        p {
          color: #00a195;
          font-size: 10px;
          line-height: 0pt;
        }

        .profile-stats-text-heart {
          color: #dc3545;

          span {
            font-weight: 800;
          }

        }

        .profile-stats-text-steps {
          color: #00a195;

          span {
            font-weight: 800;
          }
        }

        .profile-stats-text-sleep {
          color: #662d89;

          span {
            font-weight: 800;
          }
        }

        p:nt-child(2) {
          font-weight: 800;
        }

      }

    }

  }

  .row:nth-child(3) {
    border-top: 1px solid #00a195;
  }

}


.zig-zag-top{
  position: absolute;
  background:
    linear-gradient(-45deg, #ededed 16px, #ededed 16px, #ededed 16px,  transparent 0),
    linear-gradient(45deg, #ededed 16px, transparent 0);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 24px 32px;
  content: " ";
  display: block;

  height: 32px;
  width: 100%;
  top: -32px;
  left:0;
}

