<ion-header class="main-nav-parent">
  <ion-toolbar class="main-nav-container">
    <div class="main-nav">

      <div>
        <ion-img [src]="'assets/active-schools-icon.svg'" class="ion-left-button">
        </ion-img>
      </div>

      <div>
        <a routerLink="/settings">
          <!-- <ion-img [src]="'assets/settings.svg'" class="ion-left-button"></ion-img> -->
          <ion-icon name="settings" class="ion-left-button"></ion-icon>
        </a>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="profile-place-data-container">
    <ion-icon name="location"></ion-icon>
    <span>C.P. Diego Marín | 6ºB | Ceutí</span>
  </div>

  <div class="profile-user-container">
    <div class="profile-user-level" routerLink="/evolution">

      <div class="profile-user-level-container">

        <img src="assets/icon/missions_icons/profile-frame.svg">

        <div class="profile-user-level-bar"></div>

        <div class="profile-user-image-container">
          <div class="profile-user-image-container-inner">
            <img src="assets/icon/missions_icons/profile-image.svg">
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="profile-stats-container">

    <div class="zig-zag-top"></div>

    <div class="row">

      <div class="profile-stats-inner-container">
        <img src="assets/icon/profile_rates/heart_rate.svg">
        <div class="profile-stats-text-container">
          <p class="profile-stats-text-heart">73 bpm</p>
          <p>Heart Rate</p>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="profile-stats-inner-container">
        <img src="assets/icon/profile_rates/steps_rate.svg">
        <div class="profile-stats-text-container">
          <p class="profile-stats-text-steps">5.783 / <span>10.000</span></p>
          <p>Steps</p>
        </div>
      </div>

      <div class="profile-stats-inner-container">
        <img src="assets/icon/profile_rates/sleep_rate.svg">
        <div class="profile-stats-text-container">
          <p class="profile-stats-text-sleep">7:15 / <span>8:00h</span></p>
          <p>Sleeping Time</p>
        </div>
      </div>

    </div>
  </div>

</ion-content>