/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.leaflet-routing-container {
  display: none !important;
}

.transparent-modal{
  --background: #0000005c;

  ion-content {
    --background: transparent;
  }
}

ion-modal::part(content){
  backdrop-filter: blur(12px);
}

.user-point {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  span {
    background-color: var(--primary-orange);
    width: 50%;
    height: 100%;
    display: block;
    left: 0px;
    top: 0px;
    //border: 1px solid #fff;
    //box-sizing: border-box;
    position: relative;
    clip-path: polygon(50% 0, 100% 75%, 50% 100%, 0 75%);
    z-index: 1;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    background: var(--primary-violet-map);
    border-radius: 50%;
    opacity: 0;
    animation: wave 2s ease infinite;
    z-index: -1;
    position: absolute;
  }

  @keyframes wave {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    90% {
      width: 190%;
      height: 190%;
      opacity: 0.5;
    }
    100% {
      width: 250%;
      height: 250%;
      opacity: 0;
    }
  }

}

.start-point {

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    background-color: var(--primary-orange);
    width: 10px;
    height: 10px;
    display: block;
    left: 0px;
    top: 0px;
    //border: 1px solid #fff;
    //box-sizing: border-box;
    position: relative;
    transform: rotate(45deg);
  }

}

.end-point {

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    background-color: var(--primary-green);
    width: 10px;
    height: 10px;
    display: block;
    left: 0px;
    top: 0px;
    //border: 1px solid #fff;
    //box-sizing: border-box;
    position: relative;
    transform: rotate(45deg);
  }

}

.challenge-point {

  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;

  span {
    background-color: var(--primary-violet-map);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    //border: 1px solid #fff;
    //box-sizing: border-box;
    position: relative;
    transform: rotate(45deg);
    opacity: 0.5;

    &::before {
      display: none;
    }

    &::after {
      content: '';
      font-weight: 900;
      color: #fff;
      font-size: 12px;
      width: 10px;
      height: 10px;
      background: var(--primary-violet-map);
      position: absolute;
      bottom: 0px;
      left: 25px;
      //border: 1px solid #fff;
      //box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      transform: rotate(-45deg);
      width: 15px;
      height: 15px;
      object-fit: contain;
      object-position: center;
    }
    
  }

}

.challenge-point-active {

  span {
    opacity: 1;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    background: var(--primary-violet-map);
    border-radius: 50%;
    opacity: 0;
    animation: wave-challenge 2s ease infinite;
    z-index: -1;
    position: absolute;
  }

  @keyframes wave-challenge {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    90% {
      width: 190%;
      height: 190%;
      opacity: 0.5;
    }
    100% {
      width: 250%;
      height: 250%;
      opacity: 0;
    }
  }

}

.challenge-point-success {

  span {
    background-color: var(--primary-green);
    &::before {
      display: flex;
      content: '';
      font-weight: 900;
      color: #fff;
      font-size: 12px;
      width: 5px;
      height: 5px;
      background: var(--primary-green);
      position: absolute;
      top: 0;
      left: -10px;
      // border: 1px solid #fff;
      justify-content: center;
      align-items: center;
    }
  }
}
